

body {
  background-image: url("./booger/wolf.png");
  color: white;
}

.articles {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.article {
  background-color: pink;
  width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.wolf {
  width: 100px;
  height: 100px;
}

.home {
  border: solid 1px white;
  padding: 50px
}

.selected {
  color: yellow
}

.fetch {
  color: black;
  min-height: 80vh;
  width: 100%;
  background-color: white;
}