

body {
  background-image: url("./booger/wolf.png");
  color: white;
}

.articles {
  color: black;
  display: flex;
  flex-wrap: wrap;
}

.article {
  background-color: pink;
  width: 200px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.wolf {
  width: 100px;
  height: 100px;
}